<meta charset="utf-8">
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Chonburi|Nanum+Myeongjo" rel="stylesheet">


<style> 




@import url(https://markmurray.co/codepen/customstyle.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:100);
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background: #111;
  height: 100%;
  font-family: Raleway, sans-serif;
}

.container {
  background: #eff0f1;
  width: 98%;
  height: 95%;
  margin: 0 auto;
  -moz-transition: all 0.3s ease 0.6s;
  -o-transition: all 0.3s ease 0.6s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.6s;
  transition: all 0.3s ease 0.6s;
  z-index: 10;
  padding: 2em;
  position: relative;
  background: url(/assets/01.jpg) center center / cover no-repeat;
}

.container.nav-open {
  margin-top: 6em;
  width: 96%;
  transition: all 0.3s ease;
}

/*
  menu icon css3
*/
.menu-icon {
  position: relative;
  display: block;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.menu-icon:hover span {
  background: #222;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
  background: #222;
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #bbbbbb;
  border-radius: 3px;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  border-radius: 3px;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
}

.menu-icon > span:after {
  -webkit-transform: translateY(0.75em);
  transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

nav {
  position: fixed;
  top: 0;
  left: 5%;
  color: white;
  z-index: 1;
}
nav ul li.animate {
  top: 0;
}
nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1em 2em;
  cursor: pointer;
  position: relative;
  top: -8em;
}
nav ul li:nth-child(1) {
  -moz-transition: top 0.3s ease 0.15s;
  -o-transition: top 0.3s ease 0.15s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.15s;
  transition: top 0.3s ease 0.15s;
}
nav ul li:nth-child(2) {
  -moz-transition: top 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0.2s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.2s;
  transition: top 0.3s ease 0.2s;
}
nav ul li:nth-child(3) {
  -moz-transition: top 0.3s ease 0.25s;
  -o-transition: top 0.3s ease 0.25s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.25s;
  transition: top 0.3s ease 0.25s;
}
nav ul li:nth-child(4) {
  -moz-transition: top 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0.3s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.3s;
  transition: top 0.3s ease 0.3s;
}
nav ul li:nth-child(5) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  transition: top 0.3s ease 0.35s;
}
nav ul li:hover {
  opacity: 1;
}
nav ul li i {
  font-size: 1.5em;
  background: #10d7af;
  padding: 0.75em;
  border-radius: 50%;
  color: white;
  display: inline-block;
  overflow: hidden;
  text-shadow: 0px 0px #0ca888, 1px 1px #0ca888, 2px 2px #0ca888, 3px 3px #0ca888, 4px 4px #0ca888, 5px 5px #0ca888, 6px 6px #0ca888, 7px 7px #0ca888, 8px 8px #0ca888, 9px 9px #0ca888, 10px 10px #0ca888, 11px 11px #0ca888, 12px 12px #0ca888, 13px 13px #0ca888, 14px 14px #0ca888, 15px 15px #0ca888, 16px 16px #0ca888, 17px 17px #0ca888, 18px 18px #0ca888, 19px 19px #0ca888, 20px 20px #0ca888, 21px 21px #0ca888, 22px 22px #0ca888, 23px 23px #0ca888, 24px 24px #0ca888, 25px 25px #0ca888, 26px 26px #0ca888, 27px 27px #0ca888, 28px 28px #0ca888, 29px 29px #0ca888, 30px 30px #0ca888, 31px 31px #0ca888, 32px 32px #0ca888, 33px 33px #0ca888, 34px 34px #0ca888, 35px 35px #0ca888, 36px 36px #0ca888, 37px 37px #0ca888, 38px 38px #0ca888, 39px 39px #0ca888, 40px 40px #0ca888, 41px 41px #0ca888, 42px 42px #0ca888, 43px 43px #0ca888, 44px 44px #0ca888, 45px 45px #0ca888, 46px 46px #0ca888, 47px 47px #0ca888, 48px 48px #0ca888, 49px 49px #0ca888, 50px 50px #0ca888, 51px 51px #0ca888, 52px 52px #0ca888, 53px 53px #0ca888, 54px 54px #0ca888, 55px 55px #0ca888, 56px 56px #0ca888, 57px 57px #0ca888, 58px 58px #0ca888, 59px 59px #0ca888, 60px 60px #0ca888;
}
nav ul li h4 {
  line-height: 2.5;
}






/*Neon*/


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

div.out_nav{
  right: 10px
    display: inline-block;

  display: flex;
  flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-between; /* Equal margin between the child elements */
}


.neon {
  font-family: neon;
  margin-top: 5px;
  color: #FB4264;
  font-size: 18pt;
\  text-shadow: 0 0 2vw #F40A35;
}

.flux {
  font-family: neon;
    margin-top: 5px;
    margin-left: 30px;

  color: #426DFB;
  font-size: 18pt;
  text-shadow: 0 0 2vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
nav{
  padding-top: 2em;
}



@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,700');

section {
  position: relative;
  width: 100%;
  height: 100%;
    cursor: hand;

}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  cursor: hand;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Noto Serif KR', sans-serif;
  text-align: center;
  white-space: nowrap;
}
 section p{
       position: absolute;
  top: 58%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 30px/1 'Noto Serif KR', sans-serif;
  text-align: center;
  white-space: nowrap;
}



/*#section01 { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;}*/
#section02 { background: url(/assets/02.jpg) center center / cover no-repeat;}
#section03 { background: url(/assets/03.jpg) center center / cover no-repeat;}
#section04 { background: url(/assets/04.jpg) center center / cover no-repeat;}
#section05 { background: url(/assets/05.jpg) center center / cover no-repeat;}
#section06 { background: url(/assets/06.jpg) center center / cover no-repeat;}
#section07 { background: url(/assets/07.jpg) center center / cover no-repeat;}
#section08 { background: url(/assets/08.jpg) center center / cover no-repeat;}
#section09 { background: url(/assets/09.jpg) center center / cover no-repeat;}
#section10 { background: url(/assets/010.jpg) center center / cover no-repeat;}

#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Noto Serif KR', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Noto Serif KR', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section02 a {
  padding-top: 60px;
}
#section02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section02 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}



#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



#section06 a {
  padding-top: 70px;
}
#section06 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



#section08 a {
  padding-top: 60px;
}
#section08 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section08 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  box-sizing: border-box;
}



#section09 a {
  padding-top: 80px;
}
#section09 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section09 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section09 a span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




</style>

<nav>
  <ul>
  <div class="out_nav">
  <div class="neon">
  <a href="/mainpage/main"> Main page </a></div>
          <div class="flux">

           <div class="flux">

        <a href="/users/sign_out" data-method = "delete">
  Logout</a>
     
      </div>
  </ul>
</nav>
<div class="container"><div class="menu-icon"><span></span></div>




<section id="section01" class="demo">
  <h1 style="cursor:hand"><strong>향수: 어느 살인자의 이야기</strong></h1>
  <p><lighter>Tom Tykwer</lighter></p>
  <a href="#section02"><span></span>Scroll</a>
</section>
<section id="section02" class="demo">
  <h1 style="cursor:hand"><strong>조제, 호랑이 그리고 물고기들</strong></h1>
    <p><lighter>犬童 一心 </lighter></p>

  <a href="#section03"><span></span>Scroll</a>
</section>
<section id="section03" class="demo">
  <h1 style="cursor:hand"><strong>8월의 크리스마스</strong></h1>
    <p><lighter>허진호</lighter></p>

  <a href="#section04"><span></span>Scroll</a>
</section>
<section id="section04" class="demo">
  <h1 style="cursor:hand"><strong>Call me by your name</strong></h1>
    <p><lighter>Luca Guadagnino</lighter></p>

  <a href="#section05"><span></span>Scroll</a>
</section>
<section id="section05" class="demo">
  <h1 style="cursor:hand"><strong>화양연화</strong></h1>
    <p><lighter>王家卫</lighter></p>

  <a href="#section06"><span></span>Scroll</a>
</section>
<section id="section06" class="demo">
  <h1 style="cursor:hand"><strong>혐오스런 마츠코의 일생</strong></h1>
    <p><lighter>中島哲也</lighter></p>

  <a href="#section07"><span></span>Scroll</a>
</section>
<section id="section07" class="demo">
  <h1 style="cursor:hand"><strong>Black Swan</strong></h1>
    <p><lighter>Darren Aronofsky</lighter></p>

  <a href="#section08"><span></span><span></span><span></span>Scroll</a>
</section>
<section id="section08" class="demo">
  <h1 style="cursor:hand"><strong>패왕별희</strong></h1>
    <p><lighter>李碧华</lighter></p>

  <a href="#section09"><span></span>Scroll</a>
</section>
<section id="section09" class="demo">
  <h1 style="cursor:hand"><strong>Love Letter</strong></h1>
    <p><lighter>岩井 俊二</lighter></p>

  <a href="#section10"><span></span>Scroll</a>
</section>
<section id="section10" class="demo">
  <h1 style="cursor:hand"><strong>밀양</strong></h1>
    <p><lighter>이창동</lighter></p>

  <a href="#section01"><span></span>Scroll</a>
</section>








</div>




 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    

(function($){
  
  $(".menu-icon").on("click", function(){
    	$(this).toggleClass("open");
    	$(".container").toggleClass("nav-open");
    	$("nav ul li").toggleClass("animate");
  });
  
})(jQuery);




$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});


</script>

